body{
    /*background: #ededed;*/
}

.col-md-12{
    padding:0;
}

input, button{
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    border:0px;
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none!important;
}

.console{
    background-color: #222222;
    margin-top:0px;
    height:400px;
    /*overflow-y: hidden;*/
    overflow-x:hidden;
    font-family:monospace;
    padding: 5px;
}

.console td{
    padding: 5px;
    color: limegreen;
}

.spacer{
    margin-bottom: 100px;
}

.btnConnectManual{
    background: #222 !important;
    border-bottom: 0;
    color: limegreen;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}



